coverage
Django
django-autocomplete-light
django-daterange-filter
django-debug-panel
django-debug-toolbar
django-downtime
django-extensions
django-filebrowser
django-filter
django-gitrevision
django-grappelli
git+https://github.com/frnhr/django-grappelli-filters
django-gunicorn
django-mptt
#django-mptt-admin
git+https://github.com/mbraak/django-mptt-admin
django-nose
git+https://github.com/jorgecarleitao/django-sphinxql.git
djangorestframework
djorm-ext-pgtrgm
Fabric
gunicorn
ipython
ipython-genutils
Markdown
mock
model-mommy
nose
paramiko
Pillow
psycopg2
pycrypto
python-coveralls
Unidecode
