{% extends "admin/base.html" %}
{% load i18n grp_tags %}

{% block title %}{{ title }} | {% trans "Sklad" %}{% endblock %}

{% block branding %}
    {# Use the div#grp-branding for branding elements, e.g. a logo #}
    {# <div id="grp-branding"></div> #}
{% endblock %}

{% block extrahead %}
    {#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>#}
    <script type="text/javascript">
        window.$ = grp.jQuery;
        window.jQuery = grp.jQuery;
    </script>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block nav-global %}{% endblock %}



