{% extends "admin/change_list.html" %}

<!-- LOADING -->
{% load i18n grp_tags admin_urls admin_static admin_list %}

<!-- BREADCRUMBS -- >
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul class="grp-horizontal-list">
            <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a></li>
            <li>{{ cl_header|capfirst }}</li>
        </ul>
    {% endif %}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content_title %}
    {% if request.mptt_filter %}
    <h1>{{ cl_header|capfirst }} > {{ request.mptt_filter }}</h1>
    {% else %}
    <h1>{{ cl_header|capfirst }} {{ cl_header_addon }}</h1>
    {% endif %}
    <h2>
        <a href="export/" target="_blank">
            <img src="{% static "base/img/file_extension_xls.png" %}" width="22" height="22">
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="?{{ show_zero_params }}">
        {% if show_zero == 1 %}
            <img src="{% static "glyphicons/glyphicons-546-eye-minus.png" %}" width="31" height="22">
            <strike>{% trans "show zero" %}</strike>
        {% else %}
            <img src="{% static "glyphicons/glyphicons-545-eye-plus.png" %}" width="31" height="22">
            {% trans "show zero" %}
        {% endif %}
        </a>
    </h2>
{% endblock %}