{% extends "admin/change_list.html" %}

<!-- LOADING -->
{% load i18n grp_tags admin_urls admin_static admin_list %}

<!-- BREADCRUMBS -- >
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul class="grp-horizontal-list">
            <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a></li>
            <li>{{ cl_header|capfirst }}</li>
        </ul>
    {% endif %}
{% endblock %}

<!-- CONTENT-TITLE -->
{% block content_title %}
    <h1>{{ cl_header|capfirst }}</h1>
    <h2>
    {% if show_zero == 1 %}
        <a href="?show_zero=0">
            <img src="{% static "glyphicons/glyphicons-546-eye-minus.png" %}" width="31" height="22">
            <strike>show zero</strike>
        </a>
    {% elif show_zero == 0 %}
        <a href="?show_zero=1">
            <img src="{% static "glyphicons/glyphicons-545-eye-plus.png" %}" width="31" height="22">
            show zero
        </a>
    {% endif %}
    </h2>
{% endblock %}