.autocomplete-light-widget + .grp-related-widget-tools {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline-block;
}

.grp-tabular .autocomplete-light-widget + .grp-related-widget-tools {
    position: static;
    float: right;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    top: 0;
    left: 0;
    display: inline-block;
}

.date-warranty-wrapper-js p {
    display: inline;
}

.date-warranty-wrapper-js input {
    width: 80px;
}

.date-warranty-wrapper-js input.changed {
    background-color: #ffeebb;
}

.date-warranty-wrapper-js input.error {
    background-color: #ffbbbb;
}

.confirm-js {
    display: inline-block;
    position: relative;
    top: -2px;
    left: 4px;
}

.confirm-js img {
    width: 16px;
    height: 12px;
}

.confirm-js.btn {
    background-color: #DDFFDD;
    color: white;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    padding: 2px 2px 2px 2px;
    text-decoration: none;

}

.confirm-js.btn:active {
    background-color: #AAFFAA;
    border: 1px solid #AAAAAA;
}

.grp-change-related {
    position: relative;
    display: inline-block;
    margin-left: 3px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    font-size: 11px;
    line-height: 16px;
    background-position: 0 0;
    left: 20px;
    top: 4px;
}
