<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>redirect</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <style>
        .banner {
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;
            width: 70%;
            background-color: #ffe3db;
            border: #ff6812;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            text-align: center;
            padding: 15px;
            font-family: 'Roboto Slab', serif;
        }
        .banner img {
            float: left;
            max-height: 40px;
        }
    </style>
</head>
<body>
    <div class="banner">
        <h1>
            <img src="http://rationalwiki.org/w/images/2/24/Warning_icon.svg">
            База переїхала на нову адресу: <a href="http://sklad.local/">http://sklad.local/</a>
        </h1>
    </div>
</body>
</html>